.caption {
  background: conic-gradient(
    from 130.31deg at 16.03% 39.06%,
    #b80027 -46.69deg,
    #003d85 32.24deg,
    #b80027 313.31deg,
    #003d85 392.24deg
  );
  min-height: 658px;

  @media (max-width: $vp-1199) {
    min-height: 554px;
  }

  @media (max-width: $vp-767) {
    min-height: 491px;
  }
}

.caption__wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 64px;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    padding-top: 18px;
    grid-template-columns: repeat(auto-fit, 324px);
    grid-column-gap: 30px;
    justify-content: center;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 290px;
    justify-content: end;
    padding-bottom: 60px;
  }
}

.caption__block {
  padding-top: 114px;
  padding-left: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: $vp-1199) {
    padding-left: 0;
    padding-top: 53px;
  }

  @media (max-width: $vp-767) {
    padding-top: 71px;
  }
}

.caption__block span {
  font-family: $ff-bebas;
  font-size: 49px;
  line-height: 59px;
  letter-spacing: 0.03em;
  display: block;
  text-align: right;

  @media (max-width: $vp-1199) {
    font-size: 34px;
    line-height: 41px;
  }

  @media (max-width: $vp-767) {
    font-size: 28px;
    line-height: 34px;
  }
}

.caption__block h1 {
  margin: 0;
  font-family: $ff-bebas;
  font-size: 109px;
  line-height: 109px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-top: 6px;
  text-align: right;
  margin-bottom: 52px;

  @media (max-width: $vp-1199) {
    font-size: 86px;
    line-height: 86px;
    margin-top: 4px;
    margin-bottom: 34px;
  }

  @media (max-width: $vp-767) {
    font-size: 78px;
    line-height: 78px;
    margin-top: 10px;
    margin-bottom: 39px;
  }
}

.caption__block ul {
  position: absolute;
  font-size: 14px;
  line-height: 21px;
  top: 55%;
  left: 20px;
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $vp-1199) {
    top: 47%;
    left: 0;
  }

  @media (max-width: $vp-767) {
    top: 49%;
  }
}

.caption__list a {
  display: block;
  color: $color-default-white;
  font-size: 12px;
  line-height: 14px;
}

.caption__block a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 20px;
  color: $color-default-white;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  border: 4px solid $color-default-white;
  width: 230px;
  text-align: center;
  margin-bottom: 20px;

  @media (max-width: $vp-1199) {
    width: 183px;
  }

  @media (max-width: $vp-767) {
    width: 290px;
  }
}

.caption__list {
  display: flex;
  font-weight: 400;
  flex-direction: column;
  gap: 20px;
  align-self: end;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;

  @media (max-width: $vp-1199) {
    display: none;
  }
}

.caption__wrapper img {
  @media (max-width: $vp-767) {
    display: none;
  }
}

.caption__menu {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;

  @media (max-width: $vp-1199) {
    padding-top: 40px;
  }

  @media (max-width: $vp-767) {
    padding-top: 20px;
  }
}

.caption__menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
}

.caption__link {
  font-size: 26px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  font-family: $ff-bebas;

  @media (max-width: $vp-1199) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}


.caption__menu img {
  width: 89px;
  height: 20px;

  @media (max-width: $vp-1199) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $vp-767) {
    width: 68px;
    height: 15px;
  }
}

.caption__wrapper a {
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
