.coaches {
  margin-bottom: 120px;
  position: relative;

  @media (max-width: $vp-1199) {
    margin-bottom: 100px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 71px;
    max-width: 360px;
  }
}

.coaches h2 {
  margin: 0;
  font-family: $ff-bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 40px;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 32px;
  }
}

.coaches ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    justify-content: space-between;
  }
}

.coaches__card {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 294px;
  position: relative;

  @media (max-width: 1300px) {
    width: 240px;
  }

  @media (max-width: $vp-1199) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: 274px;
  }
}

.coaches h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  left: 44%;
  transform: translate(-36%);
  bottom: 23px;
}

.coaches__card img {
  width: 260px;
  height: 294px;
  object-fit: cover;

  @media (max-width: 1300px) {
    width: 240px;
  }

  @media (max-width: $vp-1199) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: 274px;
  }
}

.coaches__layout {
  position: absolute;
  display: none;
  background-color: $color-sapphire--89;
  width: 100%;
  height: 294px;
  padding: 52px 40px;
  top: 0;
  overflow: auto;

  @media (max-width: 1300px) {
    width: 240px;
    padding: 52px 27px;
  }

  @media (max-width: $vp-1199) {
    width: 268px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: 100%;
    padding: 42px 19px;
  }
}

.coaches__card:focus-within .coaches__layout,
.coaches__card:hover .coaches__layout {
  display: block;
}

.coaches__layout p {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.coaches__layout span {
  display: block;
  margin-bottom: 29px;
  text-align: center;
}

.coaches__layout ul {
  display: block;

  @media (max-width: $vp-1199) {
    padding: 0;
  }

  @media (max-width: $vp-767) {
    padding: 0;
  }
}

.coaches__layout li {
  font-size: 14px;
  line-height: 21px;
  position: relative;
  margin-bottom: 13px;
  padding-left: 31px;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
    top: 7px;
    left: 14px;
  }
}

.coaches__wrapper {
  position: relative;

  @media (max-width: 1300px) {
    width: 1080px;
  }

  @media (max-width: $vp-1199) {
    width: 566px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.coaches__button {
  position: absolute;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 32px;
  background-color: transparent;
  box-sizing: border-box;
}

.coaches__button--left {
  position: absolute;
  top: 58%;
  left: -62px;

  @media (max-width: 1300px) {
    left: -15px;
  }

  @media (max-width: $vp-1199) {
    top: 56%;
    left: calc(50vw - 345px);
  }

  @media (max-width: $vp-767) {
    top: 197px;
    left: 8px;
  }
}

.coaches__button--right {
  position: absolute;
  top: 58%;
  right: -52px;

  @media (max-width: 1300px) {
    right: 0;
  }

  @media (max-width: $vp-1199) {
    top: 56%;
    right: calc(50vw - 333px);
  }

  @media (max-width: $vp-767) {
    top: 197px;
    right: 13px;
  }
}

.coaches__button svg {
  fill: none;
  stroke: $color-dark-gray;

  &:hover,
  &:focus {
    stroke: $color-sapphire--89;
  }

  @media (max-width: 767px) {
    width: 10px;
    height: 19px;
  }
}

.coaches__card.is-close {
  display: none;
}

.coaches__card.is-active {
  display: flex;
}
