.form {
  color: $color-default-white;
  background: $color-sapphire;
}

.form__wrapper {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding-left: calc(50% - 290px);
  padding-top: 64px;
  padding-bottom: 46px;

  @media (max-width: $vp-1199) {
    padding-left: 39px;
    padding-top: 70px;
    padding-bottom: 69px;
  }

  @media (max-width: $vp-767) {
    padding: 70px 15px;
  }
}

.form h2 {
  margin: 0;
  font-family: $ff-bebas;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: lowercase;
  margin-bottom: 25px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 28px;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 32px;
  }
}

.form__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-bottom: 27px;

  @media (max-width: $vp-1199) {
    grid-column-gap: 60px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
}

.form form {
  width: 410px;

  @media (max-width: $vp-1199) {
    width: 472px;
  }

  @media (max-width: $vp-767) {
    width: 100%
  }
}

.form input {
  padding: 7px 0;
  border: none;
  min-width: 100%;
  background-color: inherit;
  border-bottom: 1px solid $color-light-slate-grey;
  color: $color-default-white;

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 29px;
  }
}

.form button {
  width: 100%;
  background-color: inherit;
  color: $color-default-white;
  border: 3px solid $color-default-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  padding: 16px;
}
