.header {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $vp-1199) {
    padding-top: 40px;
  }

  @media (max-width: $vp-767) {
    padding-top: 20px;
  }
}

.header__link {
  font-size: 26px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  font-family: $ff-bebas;
  display: block;

  @media (max-width: $vp-1199) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 20px;
  }
}

.header img {
  @media (max-width: $vp-1199) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $vp-767) {
    width: 68px;
    height: 15px;
  }
}
