.promo {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 120px;

  @media (max-width: $vp-1199) {
    margin-bottom: 100px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    margin-bottom: 70px;
  }
}

.promo__container {
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: 80px 76px;

  @media (max-width: $vp-1199) {
    padding: 45px 46px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 50px;
  }
}

.promo__info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 50px;
  justify-items: center;

  @media (max-width: $vp-1199) {
    grid-column-gap: 29px;
    width: 200px;
  }
}

.promo__info h2 {
  margin: 0;
  font-family: $ff-bebas;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;
  margin-top: 7px;

  @media (max-width: $vp-1199) {
    font-size: 52px;
    line-height: 52px;
  }
}

.promo__info dl {
  margin: 0;
  padding: 0;
}

.promo__info dt {
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $vp-1199) {
    font-size: 12px;
    line-height: 18px;
  }
}

.promo__info dd {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 8px;
  display: flex;
  gap: 5px;
  position: relative;

  @media (max-width: $vp-1199) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
  }

  ::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;

    @media (max-width: $vp-1199) {
      top: 3px;
    }
  }
}

.promo__info span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: block;
  align-self: center;

  @media (max-width: $vp-1199) {
    font-size: 10px;
    line-height: 15px;
  }
}

.promo p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 45px;

  @media (max-width: $vp-1199) {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 28px;
  }
}

.promo a {
  display: block;
  padding: 25px;
  text-align: center;
  border: 4px solid $color-default-white;
  color: $color-default-white;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $vp-1199) {
    font-size: 10px;
    line-height: 12px;
    padding: 12px;
    border: 2px solid $color-default-white;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.promo img {
  @media (max-width: $vp-1199) {
    height: 292px;
    width: 100%;
    object-fit: cover;
  }
}
