//colors

$color-sapphire: #102654;
$color-default-white: #ffffff;
$color-ghost-white: #f8f9fc;
$color-chambray: #495a7d;
$color-whisper: #e8e8e8;
$color-egyptian-blue: #103aae;
$color-persian-blue: #2e35ac;
$color-resolution-blue: #1c3374;
$color-torch-red: #ed0233;
$color-crimson: #d10a42;
$color-black-russian: #030a1a;
$color-light-slate-grey: #74819c;
$color-dark-gray: #afafaf;
$color-grey--20: rgba(120, 120, 120, 0.2);
$color-dark-cerulean--50: rgba(20, 54, 122, 0.5);
$color-sapphire--50: rgba(16, 38, 84, 0.5);
$color-sapphire--89: rgba(16, 38, 84, 0.89);
$color-crimson--20: rgba(209, 10, 66, 0.2);
$red-to-blue: linear-gradient(142.51deg, #d10a42 0, #00359f 87.33%);
// font
$fz-default: 16px;
$ff-bebas: "BN", tahoma, sans-serif;
$ff-default: "Roboto Condensed", "Roboto", "Arial Narrow", sans-serif;

$vp-767: 767px;
$vp-768: 768px;
$vp-1199: 1199px;
