//colors

$color-sapphire: #102654;
$color-default-white: #ffffff;
$color-ghost-white: #f8f9fc;
$color-dark-cerulean--50: rgba(20, 54, 122, 0.5);
// font
$fz-default: 16px;
$ff-bebas: "BN", tahoma, sans-serif;
$ff-default: "Roboto Condensed", "Roboto", "Arial Narrow", sans-serif;

$vp-767: 767px;
$vp-768: 768px;
$vp-1199: 1199px;
